<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item_tv</key>
	<dict>
		<key>backgroundUrl</key>
		<string>image/item/item_tv_bg.png</string>
		<key>topIconUrl</key>
		<string>image/item/icon_tv1.png</string>
		<key>bottomPanelUrl</key>
		<string>image/item/item_tv_bottom_bg.png</string>
		<key>title</key>
		<string></string>
		<key>hint</key>
		<string>600＋ 频道</string>
		<key>ratio</key>
		<string>1.0</string>
		<key>m_tag</key>
		<string>601</string>
		<key>itemName</key>
		<string>item_tv_name</string>
		<key>iconPosition</key>
		<string>1</string>
		<key>notiHintEventType</key>
		<string>event_tv_info</string>
		<key>notiIconEventType</key>
		<string>event_tv_icon</string>
		<key>Clipping</key>
		<false/>
	</dict>
	<key>item_video</key>
	<dict>
		<key>backgroundUrl</key>
		<string>image/item/item_video_bg.png</string>
		<key>topIconUrl</key>
		<string>image/item/icon_video.png</string>
		<key>bottomPanelUrl</key>
		<string>image/item/item_video_bottom_bg.png</string>
		<key>title</key>
		<string></string>
		<key>hint</key>
		<string>6 万部精彩影视</string>
		<key>ratio</key>
		<string>1.0</string>
		<key>m_tag</key>
		<string>602</string>
		<key>itemName</key>
		<string>item_video_name</string>
		<key>iconPosition</key>
		<string>3</string>
		<key>notiHintEventType</key>
		<string>event_video_info</string>
		<key>notiIconEventType</key>
		<string>event_video_icon</string>
		<key>Clipping</key>
		<false/>
	</dict>
	<key>item_album</key>
	<dict>
		<key>backgroundUrl</key>
		<string>image/item/item_album_bg.png</string>
		<key>topIconUrl</key>
		<string>image/item/icon_album.png</string>
		<key>bottomPanelUrl</key>
		<string>image/item/item_album_bottom_bg.png</string>
		<key>title</key>
		<string></string>
		<key>hint</key>
		<string>分享美好瞬间</string>
		<key>ratio</key>
		<string>1.0</string>
		<key>m_tag</key>
		<string>603</string>
		<key>itemName</key>
		<string>item_album_name</string>
		<key>iconPosition</key>
		<string>4</string>
		<key>notiHintEventType</key>
		<string>event_album_info</string>
		<key>notiIconEventType</key>
		<string>event_album_icon</string>
		<key>Clipping</key>
		<true/>
	</dict>
	<key>item_history</key>
	<dict>
		<key>backgroundUrl</key>
		<string>image/item/item_history_bg.png</string>
		<key>topIconUrl</key>
		<string>image/item/icon_history.png</string>
		<key>bottomPanelUrl</key>
		<string>image/item/item_history_bottom_bg.png</string>
		<key>title</key>
		<string></string>
		<key>hint</key>
		<string>收藏喜爱影片</string>
		<key>ratio</key>
		<string>1.0</string>
		<key>m_tag</key>
		<string>604</string>
		<key>itemName</key>
		<string>item_history_name</string>
		<key>iconPosition</key>
		<string>3</string>
		<key>notiHintEventType</key>
		<string>event_history_info</string>
		<key>notiIconEventType</key>
		<string>event_history_icon</string>
		<key>Clipping</key>
		<false/>
	</dict>
</dict>
</plist>
